.row {
    overflow: hidden;
    *zoom: 1;
}

.row:after {
    content: '';
    display: block;
    clear: both;
}

[class*='col'] {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    min-height: 1px;
}


@media screen and (min-width: 42em) {
    .col-md-1 {
        width: 8.3333%;
    }

    .col-md-2 {
        width: 16.6667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.3333%;
    }

    .col-md-5 {
        width: 41.6667%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.3333%;
    }

    .col-md-8 {
        width: 66.6667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.3333%;
    }

    .col-md-11 {
        width: 91.6667%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media screen and (max-width: 42em) {
    .col-sm-1 {
        width: 8.3333%;
    }

    .col-sm-2 {
        width: 16.6667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.3333%;
    }

    .col-sm-5 {
        width: 41.6667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.3333%;
    }

    .col-sm-8 {
        width: 66.6667%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.3333%;
    }

    .col-sm-11 {
        width: 91.6667%;
    }

    .col-sm-12 {
        width: 100%;
    }
}