* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "黑体", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.page-header {
    color: #fff;
    text-align: center;
    background: rgb(0, 0, 0) url('../images/index_bg.jpg') no-repeat;
    background-size: cover;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 5rem 6rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 3rem 4rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 2rem 1rem;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
    text-transform: uppercase;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem;
    }
}

.page-subhead {
    text-align: center;
    background-color: #e8e6f6;
}

.page-content {
    position: relative;
}


.aside {
    position: absolute;
    top: 2rem;
    left: 2%;
    width: 18%;
    padding: 2rem 1rem;
    text-align: center;
    box-shadow: 0 0 10px #aaaaaa;
    border-radius: 1rem;
}

.aside-head {
    padding: .5rem 0;
    margin: .5rem 0;
    border-bottom: 1px solid #aaaaaa;
}

.aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {

}

.main-content {

}

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 64rem;
        padding: 2rem 3rem;
        margin: 0 0 0 22%;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 2rem;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}

.stage {

}

.stage-head {
    margin: 1rem 0;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task {
    position: relative;
    text-align: center;
    line-height: 150px;
    font-size: 4rem;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 170px;
    transition: all .5s;
}

.cover:hover {
    background-color: rgba(0, 0, 0, .5);
}

.site-footer {
    padding: 2rem 0;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
    background-color: #070a27;
    color: #ffffff;
    text-align: center;
}

.site-footer a {
    color: #ed2f3f;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {

}

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: 0.9rem;
    }
}


