@charset "UTF-8";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "黑体", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.page-header, .page-subhead, .page-content, .site-footer{
    min-width: 42em;
}

.page-header {
    color: #fff;
    text-align: center;
    background: rgb(0, 0, 0) url('../images/index_bg.jpg') no-repeat;
    background-size: cover;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 5rem 6rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 3rem 4rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 2rem 1rem;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
    text-transform: uppercase;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem;
    }
}

.page-subhead {
    margin-bottom: 2rem;
    text-align: center;
    background-color: #e8e6f6;
}

.page-content {
    padding: 0 10%;
}

.site-footer {
    padding: 2rem 0;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
    background-color: #070a27;
    color: #ffffff;
    text-align: center;
}

.site-footer a {
    color: #ed2f3f;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {

}

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: 0.9rem;
    }
}


.stage {
    position: relative;
    margin: 2rem 0;
}

.stage-head {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    margin: 0;
    padding: 1rem;
    width: 15%;

    text-align: right;
}

.stage-head span {
    display: inline-block;
    border-radius: 100%;
    padding: 1rem;
    width: 5rem;
    background-color: #cccccc;
    font-size: 3rem;
    line-height: 3rem;
}

@media screen and (max-width: 64em){
    .stage-head span{
        padding: 0.8rem;
        font-size: 2rem;
        line-height: 2rem;
        width: 3.6rem;
    }
}

.stage-sep {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15%;

    border-right: 2px solid #cccccc;
    width: 15%;
}

.stage-sep:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    width: 100%;
    height: 2px;
    background-color: #cccccc;
}

.task-list {
    list-style: none;
    margin: 0;
    padding-left: 45%;
}

.task-list li {
    position: relative;
    padding-left: 1rem;
    line-height: 30px;
}

.task-list li:before {
    content: '';
    position: absolute;
    left: -27.5%;
    top: 50%;
    transform: translate(0, -50%);
    display: block;
    width: 27.5%;
    height: 2px;
    background-color: #cccccc;
}

.description {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    font-size: 3rem;
}
@media screen and (max-width: 64em){
    .description{
        font-size: 2rem;
    }
}
