* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "黑体", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

a {
    color: #1e6bb8;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.num1 {
    color: #d55a5a;
}

.num2 {
    color: #febd12;
}

.num3 {
    color: #27ae60;
}

.num4 {
    color: #27aeaa;
}

.num5 {
    color: #6e0482;
}

.num6 {
    color: #223546;
}

.num7 {
    color: #dc7200;
}

.num8 {
    color: #fd5238;
}

.num9 {
    color: #52bad5;
}

.num0 {
    color: #ff5eaa;
}

.btn {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn + .btn {
    margin-left: 1rem;
}

.btn:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;
    }

    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0;
    }
}

.page-header {
    color: #fff;
    text-align: center;
    background: rgb(0, 0, 0) url('../images/index_bg.jpg') no-repeat;
    background-size: cover;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 5rem 6rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 3rem 4rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 2rem 1rem;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0.1rem;
    text-transform: uppercase;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.25rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.75rem;
    }
}

.page-subhead {
    text-align: center;
    background-color: #e8e6f6;
}

.nav {
    padding: 2rem 0;
    text-align: center;
}

.nav-head {
    margin: 1rem 0;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {

}

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 64rem;
        padding: 2rem 3rem;
        margin: 0 auto;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 2rem 2rem;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 2rem 1rem;
        font-size: 1rem;
    }
}

.stage {

}

.stage-head {
    margin: 1rem 0;
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.task {
    position: relative;
    text-align: center;
    line-height: 150px;
    font-size: 4rem;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 170px;
    transition: all .5s;
}

.cover:hover {
    background-color: rgba(0, 0, 0, .5);
}

.site-footer {
    padding: 2rem 0;
    margin-top: 2rem;
    border-top: solid 1px #eff0f1;
    background-color: #070a27;
    color: #ffffff;
    text-align: center;
}

.site-footer a {
    color: #ed2f3f;
}

.site-footer-owner {
    display: block;
    font-weight: bold;
}

.site-footer-credits {

}

@media screen and (min-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-footer {
        font-size: 1rem;
    }
}

@media screen and (max-width: 42em) {
    .site-footer {
        font-size: 0.9rem;
    }
}


